@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

fieldset {
    margin: 10px;
    padding: 10px;
    border: 1px dashed black;
}

body {
    background-color: rgba(212, 217, 223, 0.63);
}

legend {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 19px;
}

.pessoa label {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;   
}

.pessoa input {
    font-weight: bolder;
    background-color: rgba(212, 217, 223, 0.63);
    border: 1px solid grey;
    border-radius: 3px;
    padding: 5px;
    margin: 5px;
}

.pessoa > label > .ssexo {
   font-size: 2em;
}

.escolar {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    margin: 2px;
}

select {
    font-weight: bolder;
    background-color: rgba(212, 217, 223, 0.63);
    border: 1px solid grey;
    border-radius: 3px;
    padding: 2.5px;
    margin: 2.5px;
}

.profissao label {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    margin: 2px;
}

.profissao input {
    font-weight: bolder;
    background-color: rgba(212, 217, 223, 0.63);
    border: 1px solid grey;
    border-radius: 3px;
    padding: 2.5px;
    margin: 2.5px;
}

.botoes input {
    background-color: black;
    color: white;
    width: 100px;
    height: 25px;
}